.p-header {
    text-align: center;
}

.p-intro {
    padding: 3.5rem 0;
}

.p-list {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.p-experience {
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 4px rgba(106, 143, 225, 0.25);
    padding: 3.5rem;
    width: 100%;
}

.p-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding-bottom: 3rem;
}

.p-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.p-mini-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.p-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.p-tag {
    background-color: var(--secondary-light);
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}

.overview-later {
    display: none;
}

@media (max-width: 90rem) {
    .p-top {
        display: flex;
        flex-direction: column;
    }

    .overview-first {
        display: none;
    }

    .overview-later {
        display: block;
    }
}

@media (max-width: 68rem) {
    .p-experience {
        padding: 3rem;
    }
}

@media (max-width: 48rem) {
    .p-experience {
        padding: 2rem;
    }
}