.intro {
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 10em;
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    align-items: center;
}

.pfp {
    padding-right: 3.5em;
}

.intro-content {
    display: flex;
    flex-direction: column;
}

#title {
    font-weight: 600;
    font-size: 3em;
}

#intro-text {
    font-weight: 400;
    font-size: 1.875em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.goal {
    font-weight: 500;
    font-size: 1.25em;
    padding-top: 4.5em;
    padding-bottom: 4.5em;
    font-weight: 400;
}