.e-all {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-top: 6rem;
}

.e-content {
    display: flex;
    flex-direction: column;
}

.e-intro {
    padding-top: 3rem;
}

.e-subtitle {
    color: var(--primary-dark);
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.e-summaries {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.separator {
    width: 50%;
    margin: 0 auto;
}

.line {
    height: 2px;
    opacity: 1;
    background-color: var(--primary-dark);
    border: none;
    width: 100%;
}

.e-img-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100% !important;
    height: auto;
}

.e-nested-imgs {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.e-nested-img {
    width: 100% !important;
    height: auto;
    object-fit: cover;
}

.e-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}