.all {
    padding-left: 15em;
    padding-right: 15em;
}

.e-header {
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    margin-top: 7.75em;
    margin-bottom: 2.25em;
    color: #000000;
}

.e-subtitle {
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    margin-top: 7.75em;
    margin-bottom: 2.25em;
    color: #6A8FE1;
}

.e-summary {
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    font-size: 1.25em;
    margin-bottom: 7.75em;
    margin-top: 1em;
    text-align: center;
    font-weight: 400;
}

.project-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-image {
    max-width: 100%;
    height: auto;
}