.project-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-image {
    max-width: 100%;
    height: auto;
}

.max-width {
    width: 100% !important;
    min-width: 100% !important;
}