.horizontal-list {
    list-style-type: none;
    display: flex;
    padding: 0em;
    justify-content: center;
    background-color: #DFE9FF;
}

.horizontal-list li {
    margin-right: 0.625em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
}

.horizontal-list li.active {
    border-bottom: 0.0625em solid;
}

.horizontal-list li.active a {
    text-decoration: none;
}

.horizontal-list li a {
    text-decoration: none;
    font-family: "proxima-nova", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    color: black;
}
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-bottom: 1em;
}